{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 150,
  "semi": true,
  "importOrder": ["^components/(.*)$", "^[./]" ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
